body {
    background-color: rgb(171, 244, 205);
}
li a {
    display: block;
    background-color: rgb(49, 170, 94);
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 75px;
}