body {
    background-color: rgb(171, 244, 205);
}
li a {
    display: block;
    background-color: rgb(27, 141, 69);
}
ul {
    list-style-type: disc;
    margin: 0;
    padding: 0;
    width: 75px;
}